.column{
    background-color: rgb(255, 255, 255, 0.6);
    margin: 20px;
    padding: 10px;
    display: inline-block;
    vertical-align: top;
    width: calc(20% - 65px);
    border-radius: 10px;
}