* {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body {
    padding: 0;
    margin: 0; 
    overflow: auto;
}

html, body {
    width: 100%;
    height: 100%;
}

main {
    padding-top: 20px;
    background-image: url('https://images.unsplash.com/photo-1710790095456-6b122a198033?q=80&w=2572&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: 100%; 
    background-position: center center; 
    background-repeat: no-repeat; 
    width: 100%;
    /*No consigo posicionar la imagen con scroll*/
}

h1 {
    display:block;
    color: white;
    font-weight: 400;
    font-size: 25px;
    background-color: rgb(17 117 162 / 53%);
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right:auto;
    margin-left:auto;
    width: fit-content;
}

h1::after{
    content: " - Pedro Luque";
}

#kanban {
    display:block;
    justify-content:center;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

#kanban .column .card {
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    border: solid 1px #0000001c;
    margin-bottom: 10px;
    position: relative;
    font-size: 15px;
}

#kanban .column .card:hover {
    background-color: rgb(17 117 162 / 70%);
    cursor: pointer;
}

#kanban .column .card .h3 {
    text-align: left;
    padding-left: 10px;
    padding-top: 10px;
    font-size:16px;
}

.column {
    display: inline-block;
    vertical-align: top;
    background-color: #f4f5f7ac;
    width: 18%;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 1px 2px rgba(9, 30, 66, 0.25);
    margin-right: 20px;
}

.column:last-child {
    margin-right: 0;
}

h2 {
    font-size: 18px;
    margin-bottom: 15px;
}

.card {
    background-color: #ff0000;
    border-radius: 3px;
    margin-bottom: 10px;
    padding: 15px;
    box-shadow: 0 1px 2px rgba(9, 30, 66, 0.25);
}

.card h3 {
    margin: 0;
    font-size: 16px;
    margin-top: 25px;
    margin-bottom: 15px;
}

.card p {
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 25px;
}

.card::after{
    content: "X";
    font-style: bold;
    text-align: center;
    color: white;
    font-size:10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #ff0000;
    position: absolute;
    line-height: 20px;
    top: 15px;
    right: 15px;
}

.card:hover::after {
    background-color: black;
}


.tags {
    margin-top: 10px;
    margin-bottom: 15px;
}

.tag {
    display: inline-block;
    padding: 5px;
    border-radius: 50%;
    margin-right: 5px;
    width: 30px;
    height: 30px;
    text-align: center;
    vertical-align: middle;
}

.tag i {
    color: #ffffff;
}

.front {
    background-color: #61bd4f;
}

.back {
    background-color: #f26900;
}

.device {
    background-color: #fff01a;
}
