main {
  padding-top: 20px;
  background-image: $background-image;
  background-size: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
}

h1 {
  display: block;
  color: white;
  font-weight: 400;
  font-size: 25px;
  background-color: rgba(17, 117, 162, 0.53);
  border-radius: 10px;
  padding: 10px 20px;
  margin: 0 auto;
  width: fit-content;
}

h1::after{
  content: " - Pedro Luque";
}

h2 {
  font-size: 18px;
  margin-bottom: 15px;
}